body
	{
		background-color: #A1EDEC;
	}

a:link, a:visited
	{
		color: white;
		background-color: teal;
		text-decoration: none;
		padding: 10px;
		text-align: center;
		display: inline-block;
		font-family: calibri;
	}

a:hover
	{
		color: #FFAF00;
		background-color: #009A9A;
		text-decoration: underline;
	}

a:active
	{
		color: teal;
		background-color: transparent;
		text-decoration: underline;
	}

div.a
	{
		text-align: center;
	}